{{ form_start(form) }}
    <div class='heading-bar'>
        <div class='go-back'>
            <a href="{{ path('app_alerta_new') }}"><i class="fa-solid fa-chevron-left"></i>
        </div>
    </div>

    <div class='new-form'>
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="set-amenaza">
                {{ form_label(form.nombreTipoDeAmenaza, 'Tipo de Amenaza') }}
                {{ form_widget(form.nombreTipoDeAmenaza) }}
            </div>
            <div class="set-ubicacion">
                {{ form_label(form.ubicacion, 'Ubicación') }}
                {{ form_widget(form.ubicacion) }}
            </div>
            <div class="set-foto">
                {{ form_label(form.foto, 'Foto') }}
                {{ form_widget(form.foto) }}
            </div>
            <div class="set-descripcion">
                {{ form_label(form.descripcion, 'Descripción') }}
                {{ form_widget(form.descripcion) }}
            </div>
            <div class="set-gravedad">
                {{ form_label(form.nivelgravedad, 'Nivel de Gravedad') }}
                {{ form_widget(form.nivelgravedad) }}
            </div>
            <div class="set-superficie">
                {{ form_label(form.superficieAfectada, 'Superficie Afectada') }}
                {{ form_widget(form.superficieAfectada) }}
            </div>
            <div class="set-tiempo">
                {{ form_label(form.tiempoDesarrollo, 'Tiempo de Desarrollo') }}
                {{ form_widget(form.tiempoDesarrollo) }}
            </div>
            <div class="set-nombre">
                {{ form_label(form.nombreContacto, 'Nombre de contacto') }}
                {{ form_widget(form.nombreContacto) }}
            </div>
            <div class="set-email">
                {{ form_label(form.emailContacto, 'Email de contacto') }}
                {{ form_widget(form.emailContacto) }}
            </div>
            <div class="set-telefono">
                {{ form_label(form.telefonoContacto, 'Teléfono de contacto') }}
                {{ form_widget(form.telefonoContacto) }}
            </div>
            
        </div>
        <div class='acciones-btn'>
            <button class="btn btn-success">{{ button_label|default('Enviar') }}</button>
        </div>
    </div>
{{ form_end(form) }}

{% block body %}
{% endblock %}