{% block body %}

    <div class="container p-5"> 
        <div>
            <h4>Datos Amenaza</h4>
            <div>                   
                {{form_start(form)}}
                <div class="set">
                {{ form_label(form.tipoAmenaza, 'tipo de Amenaza') }}
                {{ form_widget(form.tipoAmenaza) }} 
            </div>
            <div class="set">
                {{ form_label(form.ubicacion, 'Ubicación') }}
                {{ form_widget(form.ubicacion) }}
            </div>
            <div id="map"></div>
             <div class="set">
                {{ form_label(form.foto, 'Foto') }}
                {{ form_widget(form.foto) }}
            </div> 
            <div class="set">
                {{ form_label(form.descripcion, 'Descripción') }}
                {{ form_widget(form.descripcion) }}
            </div>
            <h4>Nivel de alerta</h4>
            <div class="set">
                {{ form_label(form.severidadAmenaza, 'Nivel de Gravedad') }}
                {{ form_widget(form.severidadAmenaza) }}
            </div>
            <div class="set">
                {{ form_label(form.superficieAfectada, 'Superficie Afectada') }}
                {{ form_widget(form.superficieAfectada) }}
            </div>
            <div class="set">
                {{ form_label(form.tiempoDesarrollo, 'Tiempo de Desarrollo') }}
                {{ form_widget(form.tiempoDesarrollo) }}
            </div>
            <h4>Contacto</h4>
            <div class="set">
                {{ form_label(form.nombreContacto, 'Nombre de contacto') }}
                {{ form_widget(form.nombreContacto) }}
            </div>
            <div class="set">
                {{ form_label(form.emailContacto, 'Email de contacto') }}
                {{ form_widget(form.emailContacto) }}
            </div>
            <div class="set">
                {{ form_label(form.telefonoContacto, 'Teléfono de contacto') }}
                {{ form_widget(form.telefonoContacto) }}
            </div> 
            <div class="set">
            {{ form_label(form.observaciones, 'observaciones') }}
            {{ form_widget(form.observaciones) }}
            </div>
            <div class="set">
            {{ form_label(form.espacioProtegido, 'espacioProtegido') }}
            {{ form_widget(form.espacioProtegido) }}
            </div>
            <div class="set">
            {{ form_label(form.planDeGestion, 'planDeGestion') }}
            {{ form_widget(form.planDeGestion) }}
            </div>
            <div class="set">
            {{ form_label(form.actividadesDeConservacion, 'actividadesDeConservacion') }}
            {{ form_widget(form.actividadesDeConservacion) }}
            </div>
            <div class="set">
            {{ form_label(form.organizaciones, 'organizaciones') }}
            {{ form_widget(form.organizaciones) }}
            </div>
            <div class="set">
            {{ form_label(form.IBA, 'IBA') }}
            {{ form_widget(form.IBA) }}
            </div>
            <div class='acciones-btn'>
            <button class="btnalert">{{ button_label|default('Enviar') }}</button>
        </div>
        </div>
        <script>
            
            //bibliografía (https://leafletjs.com/reference.html).

            var map = L.map('map').locate({setView: true, maxZoom:12});
            L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                // para elegir el aspecto del mapa (http://leaflet-extras.github.io/leaflet-providers/preview/)
                attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
            }).addTo(map);
            
    
            function buscarLocalizacion(e) {
                moveMarker(e.latlng);
            };

            function moveMarker(a){
                var mimarker = L.marker(a,{draggable:true}).addTo(map);
                mimarker.on("dragend",() => alert(mimarker.getLatLng()));  
            };

            function errorLocalizacion(e) {
            alert("No es posible encontrar su ubicación. Es posible que tenga que activar la geolocalización.");
            }
            map.on('locationerror', errorLocalizacion);
            map.on('locationfound', buscarLocalizacion);

        </script>
        {{form_end(form)}}
    </div> 

{% endblock %}
