{% block body %}

    <div class="carduser"> 
    {{form_start(form)}}
        <div class='question'>
                <h4>¿Qué ocurre?</h4>                   
                    <div class="set">
                    {{ form_label(form.tipoAmenaza, 'Tipo de amenaza') }}
                    {{ form_widget(form.tipoAmenaza) }} 
                </div>
        </div>
        <div class='question'>
                <h4>¿Dónde?</h4>
                <p>Arrastra el marcador para indicar la ubicación de tu alerta. El punto de partida es tu ubicación actual</p>
                <div class="invisible set">
                    {{ form_label(form.ubicacion, 'Ubicación') }}
                    {{ form_widget(form.ubicacion) }}
                </div>
                <div id= 'map'></div>
                    {{ form_label(form.ubicacion, 'Ubicación') }}
                <div class="ubicacion"><p id='visualizacionUbicacion'></p></div>
                <div class="set">
                    {{ form_label(form.foto, 'Foto') }}
                    {{ form_widget(form.foto) }}
                </div>
                <div class="set">
                    {{ form_label(form.descripcion, 'Descripción') }}
                    {{ form_widget(form.descripcion) }}
                </div>
        </div>
            <div class='question'>
                <h4>Ayúdanos a determinar el nivel de alerta</h4>
                <div class="set">
                    {{ form_label(form.severidadAmenaza, 'Nivel de gravedad') }}
                    {{ form_widget(form.severidadAmenaza) }}
                </div>
                <div class="set">
                    {{ form_label(form.superficieAfectada, 'Superficie afectada') }}
                    {{ form_widget(form.superficieAfectada) }}
                </div>
                <div class="set">
                    {{ form_label(form.tiempoDesarrollo, 'Tiempo de desarrollo') }}
                    {{ form_widget(form.tiempoDesarrollo) }}
                </div>
            </div> 
        <div class='question'>
                <h4>Información complementaria</h4>
                <div class="set">
                    {{ form_label(form.IBA, '¿Esta dentro de una zona IBA?') }}
                    {{ form_widget(form.IBA) }}
                </div>
                <div class="set">
                    {{ form_label(form.espacioProtegido, '¿Está todo el área o una parte legalmente protegido?') }}
                    {{ form_widget(form.espacioProtegido) }}
                </div>
                <div class="set">
                    {{ form_label(form.planDeGestion, '¿Hay algún plan de gestión en la zona?') }}
                    {{ form_widget(form.planDeGestion) }}
                </div>
                <div class="set">
                    {{ form_label(form.actividadesDeConservacion, '¿Se llevan a cabo actividades de conservación en el área?') }}
                    {{ form_widget(form.actividadesDeConservacion) }}
                </div>
                <div class="set">
                    {{ form_label(form.organizaciones, '¿Hay organizaciones revirtiendo esta amenaza ya?') }}
                    {{ form_widget(form.organizaciones) }}
                </div>
                <div class="set">
                    {{ form_label(form.observaciones, 'Observaciones') }}
                    {{ form_widget(form.observaciones) }}
                </div>
        </div>
        <div class='question'>
                <h4>Contacto</h4>
                <h6>Si necesitamos más información nos gustaría contactar contigo</h6>
                <div class="set">
                    {{ form_label(form.nombreContacto, 'Nombre') }}
                    {{ form_widget(form.nombreContacto) }}
                </div>
                <div class="set">
                    {{ form_label(form.emailContacto, 'Email') }}
                    {{ form_widget(form.emailContacto) }}
                        <p id="emailMensaje"> </p>
                </div>
                <div class="set">
                    {{ form_label(form.telefonoContacto, 'Teléfono (opcional)') }}
                    {{ form_widget(form.telefonoContacto) }}
                </div>
                <br>
                <a class="enlacito" href="https://seo.org/consentimiento/">Aquí puedes leer nuestras condiciones</a>
                <div>
                    {{ form_row(form.agreeTerms, {label: 'Sí, he leído y acepto las condiciones'}) }}
                </div>
                <div class="g-recaptcha"
                data-sitekey="6LdVfvsiAAAAAFxkRYUuO9HlfizXqeQgpI1RC1Rz">
                </div>
                <div class='acciones-btn'>
                    <button class="btnalert">{{ button_label|default('Enviar') }}</button>
                </div>
        </div>
        <script src="/assets/js/validationForm.js"></script>
        
    {{form_end(form)}}
    </div>
    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}
