{% extends 'baseAdmin.html.twig' %}

{% block title %}Editar Alerta{% endblock %}

{% block body %}
    <h1 class="title" >Editar Alerta</h1>
    <section class="card container"> 

        <a href="{{ path('app_alerta_index') }}"><button class='btnSalir'>{{ button_label|default('Volver') }}</button></a>

        {{ include('alerta/_form.html.twig', {'button_label': 'Actualizar'}) }}
        
        <div class='delete'>{{ include('alerta/_delete_form.html.twig') }} </div>
        <a href="{{ path('app_alerta_index') }}"><button class='btnVolver'>{{ button_label|default('Volver') }}</button></a>
    </section>  

{% endblock %}
