{% extends 'baseAdmin.html.twig' %}

{% block title %}Alertas{% endblock %}

{% block body %}
    <h1 class="title">Alertas</h1>
    <section class="card-admin">  
        <table class="table table-hover table-bordered">
            <thead class='thead-dark'>
                <tr class='thead-dark'>
                    <th class='thead-dark'>Foto</th>
                    <th>Nivel</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for alertum in alertas %}
                <tr>
                    <td><img src="{{ asset('upload/' ~ alertum.foto) }}" width="150px"></td>
                    <td id='Nivel'>{{ alertum.tiempoDesarrollo + alertum.superficieAfectada + alertum.severidadAmenaza }}</td>
                    <td id='Descripcion'>{{ alertum.descripcion }}</td>
                    <td id='Tipo'>{{ alertum.TipoAmenaza }}</td> 
                    <td>
                    <a href="{{ path('app_alerta_show', {'id': alertum.id}) }}"><button class='btnEmojiVer'>{{ button_label|default('') }}<img class ="emojiVer" src="\assets\img\ver.png" alt="Ver" /></button></a>
                    <a href="{{ path('app_alerta_edit', {'id': alertum.id}) }}"><button class='btnEmojiEditar'>{{ button_label|default('') }}Editar <img class ="emojiEditar" src="\assets\img\editar.png" alt="Editar"/></button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
     <button id='boton-xml'href="{{ path('app_response_xml') }}">Descargar xml</button>
    </section>
{% endblock %}