{% extends 'baseAdmin.html.twig' %}

{% block title %}Alertas{% endblock %}

{% block body %}
    <h1 class="title">Alertas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Descripción</th>
                <th>Nivel</th>
                <th>Tipo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for alertum in alertas %}
            <tr>
                {# <td>{{ alertum.id }}</td> #} 
                <td><img src="{{ asset('upload/' ~ alertum.foto) }}" width="150px"></td>
                <td id='Nivel'>{{ alertum.tiempoDesarrollo + alertum.superficieAfectada + alertum.severidadAmenaza }}</td>
                <td id='Descripcion'>{{ alertum.descripcion }}</td>
                <td id='Tipo'>{{ alertum.TipoAmenaza }}</td> 
                {# <td>{{ alertum.superficieAfectada }}</td> #}
                {#<td>{{ alertum.nombreContacto }}</td>
                <td>{{ alertum.emailContacto }}</td>
                <td>{{ alertum.telefonoContacto }}</td> #}
                <td>
                <a href="{{ path('app_alerta_show', {'id': alertum.id}) }}"><button class='btnEmoji1'>{{ button_label|default('👁') }}</button></a>
                <a href="{{ path('app_alerta_edit', {'id': alertum.id}) }}"><button class='btnEmoji2'>{{ button_label|default('✏') }}</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No records found</td>
            </tr>
        {% endfor %}
        <button id='boton-xml'>XML</button>
        <button id='boton-txt'>TXT</button>
        </tbody>
    </table>
    <script src="/assets/js/createXML.js"></script>
{% endblock %}