{% extends 'base.html.twig' %}

{% block title %}Alerta index{% endblock %}

{% block body %}
    <h1>Alerta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ubicacion</th>
                <th>Foto</th>
                <th>Descripcion</th>
                <th>NombreContacto</th>
                <th>EmailContacto</th>
                <th>TelefonoContacto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alertum in alertas %}
            <tr>
                <td>{{ alertum.id }}</td>
                <td>{{ alertum.ubicacion }}</td>
                <td>{{ alertum.foto }}</td>
                <td>{{ alertum.descripcion }}</td>
                <td>{{ alertum.nombreContacto }}</td>
                <td>{{ alertum.emailContacto }}</td>
                <td>{{ alertum.telefonoContacto }}</td>
                <td>
                    <a href="{{ path('app_alerta_show', {'id': alertum.id}) }}">show</a>
                    <a href="{{ path('app_alerta_edit', {'id': alertum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_alerta_new') }}">Create new</a>
{% endblock %}