{% extends 'base.html.twig' %}

{% block title %}Alertas{% endblock %}

{% block body %}
    <h1 class="title">Alertas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Ubicación</th>
                <th>Foto</th>
                <th>Tipo de Amenaza</th>
                <th>Superfice Afectada</th>

                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
        {% for alertum in alertas %}
            <tr>
                {# <td>{{ alertum.id }}</td> #}
                <td>{{ alertum.ubicacion }}</td>
                <td>{{ alertum.foto }}</td>
                <td>{{ alertum.nombreTipoDeAmenaza }}</td>
                <td>{{ alertum.superficieAfectada }}</td>

                {# <td>{{ alertum.descripcion }}</td>
                <td>{{ alertum.nombreContacto }}</td>
                <td>{{ alertum.emailContacto }}</td>
                <td>{{ alertum.telefonoContacto }}</td> #}
                <td>
                <a href="{{ path('app_alerta_show', {'id': alertum.id}) }}"><button>{{ button_label|default('Mostrar') }}</button></a>
                <a href="{{ path('app_alerta_edit', {'id': alertum.id}) }}"><button>{{ button_label|default('Editar') }}</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_logout') }}"><button>{{ button_label|default('Salir') }}</button></a>
{% endblock %}