{% extends 'baseAdmin.html.twig' %}

{% block title %}Alerta{% endblock %}

{% block body %}
    <h1 class="title">Alerta</h1>

    <a href="{{ path('app_alerta_index') }}"><button class='btnVolver'>{{ button_label|default('Volver') }}</button></a>

    <table class="table">
        <tbody>
            <tr>
                <th>Tipo de Amenaza</th>
                {# <td>{{ alertum.nombreTipoDeAmenaza }}</td> #}
            </tr>
            <tr>
                <th>Ubicación</th>
                <td>{{ alertum.ubicacion }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ alertum.foto }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ alertum.descripcion }}</td>
            </tr>
            <tr>
                <th>Gravedad</th>
                {# <td>{{ alertum.nivelgravedad }}</td> #}
            </tr>
            <tr>
                <th>Superficie</th>
                {# <td>{{ alertum.superficieAfectada }}</td> #}
            </tr>
                <th>Gravedad</th>
                {# <td>{{ alertum.tiempoDesarrollo}}</td> #}
            </tr>
            <tr>
            <tr>
                <th>Nombre de Contacto</th>
                <td>{{ alertum.nombreContacto }}</td>
            </tr>
            <tr>
                <th>Email de Contacto</th>
                <td>{{ alertum.emailContacto }}</td>
            </tr>
            <tr>
                <th>Teléfono de Contacto</th>
                <td>{{ alertum.telefonoContacto }}</td>
            </tr>
        </tbody>
    </table>

    
    <a href="{{ path('app_alerta_edit', {'id': alertum.id}) }}"><button class='btnEditar'>{{ button_label|default('✏') }}</button></a>

    {{ include('alerta/_delete_form.html.twig') }}
{% endblock %}
